<!doctype html>
<html>
    <head>
        <script src="util.js"></script>
    </head>
    <body>
        <h2> SPPU Results Notifier</h2>

        <form action="register" method="post">
            Name:                      <input type="text" name="name"><br>
            Email:                     <input type="text" name="email"><br>
            Phone number:              <input type="text" name="phoneNumber"><br>
            <input type="submit" value="Notify Me">
        </form>
    </body>
    <footer>Copyrights 2017 Mayur Bhangale</footer>
</html>